<div *ngIf = "!hasArgs">
    <div *ngFor = "let project of projects">
        <p>- {{project.name}}</p>
    </div>
</div>

<div *ngIf = "hasArgs">
    <div *ngIf = "projects.length == 0">
        <p>
            No project(s) with name(s) {{this.arg}} were found.
        </p>
    </div>
    <div *ngFor = "let project of projects">
        <h1 class = "heading title">{{project.name}}                 
            <div *ngIf = "project.repoLink" class = "icon-container">
                <a class = "link" [attr.href] = "project.repoLink" target="_blank">
                    <app-icon iconName = "github"></app-icon>
                </a>
            </div>
        </h1>
        <div class = "indent">
            <span *ngIf = "project.start">
                <i class="fa-regular fa-calendar-days fa-xs"></i>
                {{project.start | date: "MMM YYYY"}}
            </span>
            <span *ngIf = "project.end"> - {{project.end | date: "MMM YYYY"}}</span>
            <p *ngFor = "let d of bulletPointDescription(project.description)">
                {{d}}
            </p>
            <div class = "indent">

                    <h3 class = "heading tech-header">Technologies Used</h3>
                    
                    <div *ngFor = "let tech of project.techUsed">
                        <div>
                           <app-icon [iconName]="tech"></app-icon> {{tech}}                            
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>