<i *ngIf = "iconName.includes('JavaScript') || iconName.includes('TypeScript')" class="fa-brands fa-js"></i>
<i *ngIf = "iconName == 'Java'" class="fa-brands fa-java"></i>
<i *ngIf = "iconName == 'Python'" class="fa-brands fa-python"></i>
<i *ngIf = "iconName.includes('Discord')" class="fa-brands fa-discord"></i>
<i *ngIf = "iconName.includes('GitHub')" class="fa-brands fa-github"></i>
<i *ngIf = "iconName.includes('Docker')" class="fa-brands fa-docker"></i>
<i *ngIf = "iconName.includes('Ruby')" class="fa-solid fa-gem"></i> 
<i *ngIf = "iconName.includes('HTML') || iconName.includes('CSS')" class="fa-brands fa-html5"></i> 
<i *ngIf = "iconName.includes('Angular')" class="fa-brands fa-angular"></i> 
<i *ngIf = "iconName.includes('Azure') || iconName.includes('AWS')" class="fa-solid fa-cloud-arrow-up"></i> 
<i *ngIf = "iconName.includes('Entity Framework')" class="fa-solid fa-code-fork"></i> 
<i *ngIf = "iconName.includes('.NET') || iconName.includes('C#')" class="fa-brands fa-windows"></i> 
<i *ngIf = "iconName.includes('SQL') || iconName.includes('DB')" class="fa-solid fa-database"></i> 

<i *ngIf = "iconName.includes('email')" class="fas fa-envelope"></i> 
<i *ngIf = "iconName.includes('linkedin')" class="fab fa-linkedin"></i> 
<i *ngIf = "iconName.includes('github')" class="fab fa-github"></i> 
<span *ngIf = "iconName == ''">-</span>