/* You can add global styles to this file, and also import other style files */
.terminal {
    background-color: black;
    color: limegreen;
    font-family: monospace;
}

.indent {
    margin-left: 16px;
}