.intro-wrapper {
    display: flex;
    justify-content: center;
}

.intro-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selfie {
    border-radius: 20%;
}

.selfie-container {
    width: 60%;
    height: 60%;
    overflow: hidden;
}

.reveal {
    width: 100%;
    height: 100%;
    clip-path: inset(0 0 100% 0);
    animation: reveal 5s forwards;
}

@keyframes reveal {
    0% {
      clip-path: inset(0 0 100% 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
}