<div class = "command-line">
    <span class = "prompt">&gt; </span>
    <input #commandInput type = "text"  class = "user-command" [(ngModel)] = "currentCommand" *ngIf = "!isDisabled" (keydown.enter) = "enterCommand()" (keydown.Tab) = "autocomplete($event)">
    <span class = "user-command" *ngIf = "isDisabled">{{currentCommand}}</span>
    <p *ngIf = "errorMsg" class = "indent">The command '{{currentCommand}}' is not a valid command. Try running 'commands' to get all commands.</p>
</div>

<div>
    <ng-component #commandContainer></ng-component>
</div>

<div>
    <ng-component #nextCommandLine></ng-component>
</div>