.skills {
    display: flex;
    flex-wrap: wrap;
}

.heading  {
    margin-bottom: 0;
}

.skills:nth-child(even) {
    border-bottom: 1px #008800 solid;
}

.skills:nth-child(odd) {
    border-bottom: 1px #00FF00 solid;
}

.skill {
    display: flex;
    flex: 1;
    align-items: center;
    padding-top: 5px;
}

.skill-name {
    flex: 1;
    white-space: nowrap;
}

.skill-icon {
    margin-right: 5px;
}

.skill-experience {
    flex-shrink: 0;
    flex: 1;
}
