<div *ngIf = "!hasArgs">
    <div *ngFor = "let project of projects" class = "indent">
        <p>{{project.name}}</p>
    </div>
</div>

<div *ngIf = "hasArgs">
    <div *ngIf = "projects.length == 0">
        <p>
            No project(s) with name(s) {{this.arg}} were found.
        </p>
    </div>
    <div *ngFor = "let project of projects" class = "indent">
        <h1 class = "project-heading">{{project.name}}                 
            <div *ngIf = "project.repoLink" class = "icon-container">
                <a class = "my-link" [attr.href] = "project.repoLink" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </h1>
        <div class = "indent">
            <span *ngIf = "project.start">
                <i class="fa-regular fa-calendar-days fa-xs"></i>
                {{project.start | date: "MMM YYYY"}}
            </span>
            <span *ngIf = "project.end"> - {{project.end | date: "MMM YYYY"}}</span>
            <p>
                {{project.description}}
            </p>
            <div class = "indent">

                    <h3 class = "project-heading tech-header">Technologies Used</h3>
                    
                    <div *ngFor = "let tech of project.techUsed">
                        <div>
                            <i *ngIf = "tech == 'JavaScript'" class="fa-brands fa-js"></i>
                            <i *ngIf = "tech == 'Discord.js'" class="fa-brands fa-discord"></i>
                            <i *ngIf = "tech == 'Docker'" class="fa-brands fa-docker"></i>
                            <i *ngIf = "tech == 'Ruby'" class="fa-solid fa-gem"></i> 
                            <i *ngIf = "tech == 'HTML/CSS'" class="fa-brands fa-html5"></i> 
                            <i *ngIf = "tech == 'Angular'" class="fa-brands fa-angular"></i> 
                            <i *ngIf = "tech == 'Azure' || tech == 'AWS'" class="fa-solid fa-cloud-arrow-up"></i> 
                            <i *ngIf = "tech == 'Entity Framework'" class="fa-solid fa-code-fork"></i> 
                            <i *ngIf = "tech.includes('.NET')" class="fa-brands fa-windows"></i> 
                            <i *ngIf = "tech.includes('SQL') || tech == 'MonogDB'" class="fa-solid fa-database"></i> 

                            {{tech}}
                            
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>