.testimonial {
    border-bottom: 1px limegreen dotted;
    margin-bottom: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.name-contact {
    display: flex;
}

.name {
    margin-left: 8px;
}

.relationship {
    font-size: x-small;
}