
<p class="indent">
    <a class = "my-link" href="mailto:SirKriSftw@hotmail.com">
        <i class="fas fa-envelope"></i> SirKriSftw&#64;hotmail.com
    </a>
</p>
<p class="indent">
    <a class = "my-link" href="https://github.com/SirKriSftw" target="_blank">
        <i class="fab fa-github"></i> https://github.com/SirKriSftw
    </a>
</p>
<p class="indent">
    <a class = "my-link" href="https://www.linkedin.com/in/kristian-perez-879783211/" target="_blank">
        <i class="fab fa-linkedin"></i> https://www.linkedin.com/in/kristian-perez-879783211/
    </a>
</p>
