
<p class="indent">
    <a class = "my-link" href="mailto:SirKriSftw@hotmail.com">
        <app-icon iconName = "email"></app-icon> SirKriSftw&#64;hotmail.com
    </a>
</p>
<p class="indent">
    <a class = "my-link" href="https://github.com/SirKriSftw" target="_blank">
        <app-icon iconName = "github"></app-icon> https://github.com/SirKriSftw
    </a>
</p>
<p class="indent">
    <a class = "my-link" href="https://www.linkedin.com/in/kristian-perez-879783211/" target="_blank">
        <app-icon iconName = "linkedin"></app-icon> https://www.linkedin.com/in/kristian-perez-879783211/
    </a>
</p>
