/* You can add global styles to this file, and also import other style files */
.terminal {
    background-color: black;
    color: limegreen;
    font-family: monospace;
}

.container {
    width: 30%;
    padding-bottom: 12px;
}

.indent {
    margin-left: 16px;
}

.link {
    color: limegreen;
    text-decoration: none;
}

.link:hover {
    color: lime;
}

::-webkit-scrollbar-track {
    background: black; 
}

::-webkit-scrollbar-thumb {
    background-color: black; 
    border: 3px solid black; 
}

/* Firefox */
* {
    scrollbar-color: black black;
}

/* Firefox dark theme */
* {
    scrollbar-color: black #000;
}

/* Change highlight background and text color */
::selection {
    background-color: #FFFFFF; 
    color: #000000;
}

